{% extends 'main.html' %}

{% block index %}

<!-- {% load static %} -->
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <!-- <h1>Logo<span>.</span></h1> -->
    </a>

    <!-- <nav id="navbar" class="navbar">
      <ul>

        <li class="dropdown"><a href="#"></a>

        </li>

        <li><a class="nav-link scrollto" href="index.html#about"></a></li>
        <li><a class="nav-link scrollto" href="index.html#services"></a></li>
        <li><a class="nav-link scrollto" href="index.html#portfolio"></a></li>
        <li><a class="nav-link scrollto" href="index.html#team"></a></li>
        <li><a href="blog.html"></a></li>
        
      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav>.navbar -->


  </div>
</header><!-- End Header -->

<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out" style="margin-bottom: 230px;">
    <!--
    <img src="{% static 'assets/img/hero-carousel/hero-carousel-3.svg' %}" class="img-fluid animated">
    -->
    <h2>Upload <span>PDF</span></h2>
    <p></p>
    <div class="d-flex">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-get-started scrollto">Upload</button>
    </form>
    </div>
  </div>
</section>


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}

